// 这里只放pc/mobile共用部分
$cl1:#1e327e; // 主要色调一

$cl2:#969696;//灰色字体
$cl3:#ff0;//红色字体
$cl4:#666;//灰色字体 提醒性文字颜色

$main-bg:$cl1; //主背景颜色 1096b9
$main-cl:#5a254c; //主背景 文字颜色

$body-bg:#2c1f2d;//body背景颜色

$header-h:84;
$herder-bg:#fff;


$footer-h:107;//底部高度
$footer-bg:#fff;//底部背景

$btn-dis:#5c5c5c;//按钮背景 禁用色
$btn-bg1:#a9257d;//按钮背景 主色调1
$btn-bg2:#fc4863;//按钮背景  主色调2
$btn-cl1:#fff;//按钮主色调1
$btn-cl2:#fff;//按钮主色调2
