<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <%= htmlWebpackPlugin.options.header.pc.head %>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <script>
      // 检测到mobile端，强制跳转PC页面 
      if (window.navigator.userAgent.toString().search(/(iPhone|iPod|Android|ios|Windows Phone|mobile|iPad|SymbianOS)/i) !=
        -1) {
        // 检测到手机设备，访问手机端
        window.location.href = "/mobile";
      }
    </script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <!-- import stylesheet -->
    <!-- <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css"> -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  </head>

  <body>
    <div id="app">
    </div>
    <!-- 部分库使用cdn，减少打包体积，增加访问速度 -->
    <!-- import Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- import Vue-router.js -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 以下内容在/static/ajax/info/header 文件 -->
    <%= htmlWebpackPlugin.options.header.pc.foot %>
  </body>
</html>
