@import './mixin';
@import './normalize';

* {
  word-break: break-all;
}

input[disabled] {
  background: #fff;
  opacity: 1;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


body,
html {
  background-color: $fill-base;
}

img {
  display: block;
  max-width: 100%;
}
