//******颜色变量******/
$primary: #4aa5f0;
$secondary: #fff100;
$danger: #d81e06;
$blue: #1070ff;
$light: #eee;
$dark: #333;

$fc: #fff;
$fill-base: #f5f5f5;

@function px2rem($px, $base-font-size: 46.875px) {
  @return ($px / $base-font-size) * 1rem;
}

