.about-title{
    color:#ffdc98;
    font-size:24px;
    font-weight:normal;
    border-bottom:dashed 1px #ccc;
    padding:20px 0;
    margin-bottom:20px;
}
.about-text{
    font-size:16px;
    line-height:1.8;
    margin-bottom:30px;
}