
/*css iconay start*/

//现在全部整合到 iconay VUE-bjh目录下面，如果缺少icon请及时补
@import url("//at.alicdn.com/t/font_389497_569tne93cehlg14i.css");
// 上面是历史遗留，未完全替换前，不要删除
@import url("//at.alicdn.com/t/font_700045_5jjsuide13r.css");
// ay最新icon目录
@import url("//at.alicdn.com/t/font_783119_75ppy064mwf.css");
// 个人中心icon
@import url("//at.alicdn.com/t/font_834785_ib2q308tuv.css");
//博林
@import url("//at.alicdn.com/t/font_905481_eygbb55ow1v.css");
//okbet
@import url("//at.alicdn.com/t/font_953157_k3z0clu0in.css");
// 当前项目的字体图标
.iconfont{vertical-align: middle;font-size:inherit;}
.iconay{vertical-align: middle;font-size:inherit;}
.iconcent{vertical-align: middle;font-size:inherit;}
.iconOkbet{vertical-align: middle;font-size:inherit;}

