<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- 描述 -->
  <!-- 以下内容在/static/ajax/info/header 文件 -->
  <%= htmlWebpackPlugin.options.header.mobile.head %>
  <!-- 针对手机端 -->
  <!-- 页面实在安750尺寸缩放 -->
  <!-- <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi" > -->
  <!-- 针对webview -->
  <!-- <meta name="MobileOptimized" content="750"> -->
  <meta name="format-detection" content="telphone=no, email=no"/>
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 删除苹果默认的工具栏和菜单栏 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
  <meta name="format-detection" content="telphone=no, email=no" />
  <!-- uc强制竖屏 -->
  <meta name="screen-orientation" content="portrait">
  <!-- QQ强制竖屏 -->
  <meta name="x5-orientation" content="portrait">
  <!-- UC强制全屏 -->
  <meta name="full-screen" content="yes">
  <!-- QQ强制全屏 -->
  <meta name="x5-fullscreen" content="true">
  <!-- UC应用模式 -->
  <meta name="browsermode" content="application">
  <!-- QQ应用模式 -->
  <meta name="x5-page-mode" content="app">
  <script> 
    // 检测到pc端，强制跳转PC页面 
    if(window.navigator.userAgent.toString().search(/(iPhone|iPod|Android|ios|Windows Phone|mobile|iPad|SymbianOS)/i)== -1){
      window.location.href = "/";
    }
  </script>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
  <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
</head>
<body>
  <div id="app">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- 以下内容在/static/ajax/info/header 文件 -->
  <%= htmlWebpackPlugin.options.header.mobile.foot %>
</body>
</html>
